<% form_for [:admin, @geolocation] do |f| -%>
  <%= f.error_messages %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger' -%>
  </div>
  
  <div class='field'>
    <%= f.label :address -%>
    <%= f.text_field :address -%>
  </div>
  
  <div class='field'>
    <%= f.label :lat -%>
    <%= f.text_field :lat -%>
  </div>
  
  <div class='field'>
    <%= f.label :lng -%>
    <%= f.text_field :lng -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions", :locals => {:f => f, :continue_editing => false} %>
<% end -%>
